# Python
venv/
__pycache__/
*.pyc
db.sqlite3
.env
.env.*

# Node
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db
Backend/api/migrations/0017_delete_murabba.py
Backend/gunicorn.log
Backend/staticfiles/
*.log

# Large media files
Frontend/public/*.mp4
Frontend/Raster Data/*.mbtiles
tileserver/data/*.mbtiles
